<div class="container pt-5 col-10 col-sm-10 col-md-6 col-lg-6 fadeIn" style="height: 800px">
<%= bootstrap_form_with scope: :listing, model: @listing, local: true do |form| %>
    <%= form.text_field :title %>
    <%= form.label :Price, rows: 1 %>
    <%= form.text_area :price %>
    <%= form.label :Description%>
    <%= form.text_area :description, rows: 6 %>
    <%= form.file_field :image_url , accept: 'image/png,image/gif,image/jpeg'%>
    <%= form.collection_select :category_id, @categories, :id, :name %>
        <%= link_to 'Back', listing_path, class: 'btn btn-dark'  %> 

    <%= form.submit class: 'btn btn-dark' %>
    <% end %>
</div>