<h1>All Listings</h1>
<%= form_with scope: :category, url: categories_path, local: true do |form| %>
<p>Select Category:</p>
<%= form.collection_select :category_id, @categories, :id, :name %>
<p><br/>
<%= form.submit "Sort Category"%>
</p>
<% end %> 
<table>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.title %></td>
      <td><img src="<%= image_url listing.image_url %>"/></td>
      <td><%= listing.price %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Show', listing_path(listing) %></td>
    </tr>
  <% end %>
</table>
