<h1>All Listings</h1>
<%= form_with scope: :category, url: listings_path, local: true do |form| %>
<% @categories.each do |category| %>
    <tr>
    <td><%= link_to category.name, listings_path(@listing) %></td>
    </tr>
    <% end %> 
<p>
<%= form.submit "Sort Category"%>
</p>
<% end %> 
<table>
<thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <%= link_to 'New Listing', new_listing_path %>
  <% @listings.each do |listing| %>
    <tr>
      <td><%= listing.title %></td>
      <td><img src="<%= image_url listing.image_url %>"/></td>
      <td><%= listing.price %></td>
      <td><%= listing.description %></td>
      <td><%= link_to 'Click for more details', listing_path(listing) %></td>
    </tr>
  <% end %>
</table>
