  

<section class="itemList p-5 bg-light">
  <div class="container">
    <h6 class="">Showing Category: <%= @current_category %></h6>
    <div class="row">
      <% @listings.each do |listing| %>
      <div class="col-6 col-md-3 mt-4 d-flex">
        <div class="card list-item bg-white rounded overflow-hidden position-relative shadow-sm">
          <!-- set condition for category icon to appear only in ALL category -->
          <% if @current_category == 'All' %>
            <span class="categoryIcon"><%= listing.category.name %></span>
          <% end %>
          <!-- link to each individual listing -->
          <a href="<%= listing_path(listing) %>">
            <img src="<%= listing.image_url %>" class="card-img-top" alt=""/>
          </a>
          <div class="card-body">
            <h6 class="card-title mb-1"><%= listing.title %></h6>
            <p class="text-dark mb-0"><%= listing.price %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
  </div>
</section>













  <% if false %>
    <% @listings.each do |listing| %>
      <%= listing.title %>
      <img src="<%= image_url listing.image_url %>"/>
      <%= listing.price %>
      <%= listing.description %>
      <%= link_to 'Click for more details', listing_path(listing) %>
    <% end %>
  <% end %>
