<div class="container pt-5 col-10 col-sm-10 col-md-6 col-lg-6 fadeIn" style="height: 800px">
  <%= bootstrap_form_with model: @listing, local: true do |form| %>
    <%= form.text_field :title %>
    <%= form.collection_select :category_id, @categories, :id, :name %>
    <%= form.text_area :image_url, label: 'Image link' %>
    <%= form.text_area :price, rows: 1 %>
    <%= form.text_area :description, rows: 6 %>
    <%= link_to 'Back', root_path, class: 'btn btn-dark' %>
    <%= form.submit class: 'btn btn-dark' %>
  <% end %>
</div>
