        <div class="inboxMsg hiddenUrl">
          <a href="<%= room_path(room) %>"></a>
          <div class="row h-100 w-100 m-0">
            <div class="col-3 inboxImgContainer h-100">
              <img class="img-fluid rounded" src="<%= image_url room.listing.image_url %>">
            </div>
            <div class="col-9 inboxDetailContainer h-100 w-100">
              <div class="fluid-container">
                <div class="inboxMsgHeading"><%= room.listing.title %></div> 
                <div class="inboxMsgPerson"><%= find_other_username(room, current_user) %></div>
                <% if room.messages.any? %>
                <div class="inboxSnippet line-clamp"><%= room.messages.last.body %></div>  
                <% end %>
              </div>
            </div>
          </div>
        </div>





