  <div class="inputDiv">
    <!-- messaging form, @message = Message.new-->
    <%= form_with model: @message, id: 'submitForm' do |f| %>
      <div class="input-group">
        <%= f.text_area :body, placeholder: 'Say a message...', rows: 3, class: 'form-control' %>
        <%= f.hidden_field(:room_id, value: @room.id) %>
        <%= f.hidden_field(:user_id, value: current_user.id) %>
        <%= image_submit_tag("logos/send2", id: 'sendBtn') %>
      </div>
    <% end %>       
  </div>
 