<!DOCTYPE html>
<html>
  <head>
    <title>Lystene</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <% if current_user %>
    <body data-username="<%= current_user.username %>">
  <% else %>
    <body>
  <% end %>
      <%= render "shared/nav" %>
      <%= render "shared/category_bar" %>
      <div class="yieldContainer"><%= yield %></div>
      <%= render "shared/footer" %>
    </body>
</html>
