<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <% if current_user %>
    <body data-username="<%= current_user.username %>">
      <%= render "shared/nav" %>
      <%= render "shared/category_bar" %>
      <p></p>
      <%= yield %>
      <%= render "shared/footer" %>
    </body>
  <% else %>
    <body>
      <%= render "shared/logoutnav" %>
      <%= render "shared/category_bar" %>
      <p></p>
      <%= yield %>
      <%= render "shared/footer" %>
    </body>
  <% end %>
</html>
